html { 
    background: url(resources/image/bg.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
 #map2{
    position:fixed;
    top:100px;
    left:225px;
    right:0;
    width: 800px;
    height: 400px;
} 

#map{
    position:fixed;
    top:0px;
    left:0;
    right:0;
    bottom:0px;
}

.ol-popup {
    position: absolute;
    background-color: white;
    box-shadow: 0 1px 4px rgba(0,0,0,0.2);
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
    min-width: 280px;
}
.ol-popup:after, .ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}
.ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}
.ol-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
}
.ol-popup-closer:after {
    content: "✖";
}


.myButton {
    background-color:aqua;
    color: white;
    font-weight: 700;
    text-align: center;
    height: 25px;
    width: 25px;
    border-radius: 2px;
    border: none;
    align-items: center;
}

.myButton:hover{
    background-color: blue;
}

.myButton.clicked{
    background-color: red;
}

.myButton.clicked:hover{
    background-color: rebeccapurple;
}

